@import url(anime.css);
/* réfléchir en terme de composants */
/* On peut insérer un fichier pour chaque élément: titre, carrousel, fond...*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%
}

body > header {
    width: 100%;
    min-height: 50px;
    background: black;
    box-shadow: 1px 2px 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

header > a > h1 {
    width: 200px;
    height: 50px;
}


header > a {
    text-decoration: none;
    color: white;
}


aside {
    width: 20%;
}

main,
aside {
    float: left;
    min-height: 100vh;
    background: white;
}

main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    width: 100%;
}

h2 {
    flex-basis: 100%;
    margin: 10px 0;
}

/*main > section:first-child {
    height: 600px;
}*/


main > section:first-child > h2 {
    padding-bottom: 2em;
}


main > section:first-child > article {
    flex-basis: 50%;
    min-width: 320px;
    position: relative;
    border: 15px solid white;
}

section:first-child > article:nth-of-type(1) {
    background: url(../images/danse.jpg) 0 0 no-repeat white;
    background-size: contain;

}

section:first-child > article:last-child {
    background: url(../images/logo-flyer.jpg) 0 0 no-repeat white;
    background-size: contain;

}

section:first-child > article > hgroup {
    margin: 45% auto 5%;
    color: white;
}

/* bouton */
section:first-child > article:last-child > a {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2% auto;
    transition: .5s
}

section:first-child > article:last-child > a:hover {
    border-radius: 20px;
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

section:first-child,
section:nth-child(2) {
    min-height: 100vh
}

h2,
h3,
h4 {
    text-align: center;
}

section > article > header {
    position: absolute;
    top: -50px;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    background: black;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    /* réutiliser la hauteur, ici définie en amont dans le bloc header*/
    box-shadow: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section > article > p {
    width: 90%;
    margin: 70% auto 0;
    word-spacing: 5px;
    /*position: absolute;
    bottom: 0%;
    left: 0;*/
}

section > article > footer {
    /*position: absolute;
    bottom: 0%;
    left: 0;*/
    /*width: 100%;*/
    margin: auto 0;
    text-align: center;
    background: black;
    color: white;
    height: 50px;
    line-height: 50px;
}

footer > p {
    text-align: center
}

footer > p > a {
    text-decoration: none;
    color: orange
}


main > section:nth-of-type(2) > figure {
    flex-basis: 25%;
    min-width: 320px;
    /*border: 15px solid white;*/
}




@media screen and (min-width:769px) {
    main {
        width: 80%;
    }

    nav {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    nav > ul {
        list-style: none
    }

    nav > ul > li {
        display: block;
        height: 50px;
        width: 100px;
        text-align: center;
        line-height: 50px;
        float: left
    }

    nav > ul > li > a {
        text-decoration: none;
        color: white;
        transition: all 1s;
        display: block;
        height: 40px;
        width: 100px;
    }

    nav > ul > li > a:hover {
        color: crimson;
        border-bottom: 1px solid crimson;
        border-radius: 10px
    }

    video.bg {
        position: fixed;
        width: 100%;
        top: -8vh;
        left: 0;
        z-index: -1;
        /*background-color: black;*/
    }

    section#carrousel {
        width: 100%;
        height: 500px;
        background: rgba(0, 191, 255, .5)
    }

    section#carrousel > hgroup {
        width: 600px;
        height: 100px;
        position: relative;
        top: 30vh;
        left: 5%;
        color: white;
        font-size: 2em;

    }

    section#carrousel > a {
        position: relative;
        display: block;
        top: 35vh;
        left: 5%;
        width: 600px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        background: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 15px;
    }

    a[title="comment"] {
        position: fixed;
        display: block;
        right: 0;
        top: 35vh;
        background: gray;
        color: white;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px 0 0 15px;
    }
    
    aside{
        background-image: radial-gradient(black, white 60%);
    }

    .fa-bars,
    .fa-times {
        visibility: hidden
    }

}

@media screen and (max-width:768px) {
    main {
        width: 100%;
        padding-top: 50px;
    }

    section#carrousel {
        display: none;
    }

    a[title="comment"] {
        display: none
    }
    
    aside{
    display:none;
    }
    
    #ouvrir:not(:target) {
        right: -100%;
        transition: right 1.5s
    }

    /* action ouverture de votre part btn burger */
    #ouvrir:target {
        right: 0;
        transition: right 1s
    }

    /*article */
    #ouvrir {
        overflow: hidden;
        border-radius: 10px;
        text-align: center;
        position: fixed;
        z-index: 2;
        /*height: 100vh;*/
        height: 15em;
        top: 0;
        width: 80%;
        max-width: 320px;
        background: black;
        box-shadow: -3px 0 10px rgba(0, 0, 0, .2)
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        min-height: 400px;
        list-style: none;
    }

    nav ul li {
        width: 100%;
        display: block;
        text-align: center;
        line-height: 1.8em;
    }
    
    nav > ul > li > a {
        text-decoration: none;
        color: white;
        /*display: block;*/
        height: 40px;
        width: 100px;
    }

    i.pose {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 10px;
        text-decoration: none;
        color: red;
    }

    i.pose,
    .fa-bars {
        visibility: visible
    }
    
}
